* {
  margin: 0px;
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  transition: all 1s;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  flex-direction: column;
}

h2 {
  font-weight: 300;
}

.year {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  width: 60vw;
  text-align: justify;
}

span {
  color: orangered;
}

.info {
  position: absolute;
  top: 50%;
  left: 50px;
  border: 1px solid white;
  background-color: black;
}
